openapi: 3.0.2
info:
  title: Pumpkin API
  version: 1.0.0
  description: RESTful API для облачного канбана Pumpkin
servers:
  - url: https://to.be.defined/api
    description: Основной сервер API

components:
  securitySchemes:
    SessionCookieAuth:
      type: apiKey
      in: cookie
      name: session_id

  responses:
    NoAuthResponse:
      description: "Вы не авторизованы"
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                enum: [401]
                example: 401
              text:
                type: string
                enum: ["Not authorized"]
                example: "Not authorized"
    EmptyOkResponse:
      description: "Успех"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EmptyOkResponse"
    NotFoundResponse:
      description: "Такой элемент не найден"
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 404
              text:
                type: string
                example: "not found"
    ForbiddenResponse:
      description: "Нет прав на действие"
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 403
              text:
                type: string
                example: "not authorized"
  parameters:
    boardId:
      name: boardId
      in: path
      required: true
      schema:
        type: string
        example: "board_456"
    cardId:
      name: cardId
      in: path
      required: true
      schema:
        type: string
        example: "card_789"
    userId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        example: "user_343"

  schemas:
    EmptyOkResponse:
      type: object
      properties:
        status:
          type: integer
          enum: [200]
          example: 200
        text:
          type: string
          example: "ok"

    BadResponse:
      type: object
      properties:
        status:
          type: integer
          example: 403
        text:
          type: string
          example: "not authorized"

    User:
      type: object
      properties:
        id:
          type: number
          example: 123
        name:
          type: string
          example: "Tarasovxx"
        email:
          type: string
          format: email
          example: "tarasovxx@example.com"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"

    UserPatch:
      type: object
      required:
        - name
        - email
        - createdAt
      properties:
        name:
          type: string
          example: "Tarasovxx"
        email:
          type: string
          format: email
          example: "tarasovxx@example.com"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"

    Board:
      type: object
      properties:
        id:
          type: integer
          example: 228
        name:
          type: string
          example: "Любимый проект"
        description:
          type: string
          example: "На этой доске размещены задачи любимого проекта! <3"
        backgroundImageUrl:
          type: string
          example: "/static/backgroundImage.png"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        updatedAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"

    # Tag:
    #   type: object
    #   properties:
    #     title:
    #       type: string
    #       example: "Дизайн"

    BoardContent:
      type: object
      properties:
        boardInfo:
          $ref: "#/components/schemas/Board"
        allColumns:
          type: array
          items:
            $ref: "#/components/schemas/Column"
        allCards:
          type: array
          items:
            $ref: "#/components/schemas/Card"
        # allTags:
        #   type: array
        #   items:
        #     $ref: "#/components/schemas/Tag"

    Card:
      type: object
      properties:
        id:
          type: integer
          example: 789
        title:
          type: string
          example: "Задача 1"
        description:
          type: string
          example: "Описание задачи 1"
        columnId:
          type: string
          example: "col_228"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"

    Column:
      type: object
      properties:
        id:
          type: integer
          example: 228
        title:
          type: string
          example: "Backlog"

    UserPermissions:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/User"
        addedAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        addedBy:
          example: "creator_itself"
          oneOf:
            - type: string
              enum: ["creator_itself"]
            - $ref: "#/components/schemas/User"
        canEdit:
          type: boolean
          example: true
        canModify:
          type: boolean
          example: true
        canShare:
          type: boolean
          example: true
        canInviteMembers:
          type: boolean
          example: true
        canAdmin:
          type: boolean
          example: true

        updatedAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        updatedBy:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"

    UserPermissionsPatch:
      type: object
      properties:
        canEdit:
          type: boolean
          example: true
        canModify:
          type: boolean
          example: true
        canShare:
          type: boolean
          example: true
        canInviteMembers:
          type: boolean
          example: true
        canAdmin:
          type: boolean
          example: true

    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          example: "Иван Иванов"
        email:
          type: string
          format: email
          example: "tarasovxx@example.com"
        password:
          type: string
          format: password
          example: "securepassword123"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "tarasovxx@example.com"
        password:
          type: string
          format: password
          example: "securepassword123"

    PasswordChangeRequest:
      type: object
      required:
        - oldPassword
        - newPassword
      properties:
        oldPassword:
          type: string
          format: password
          example: "314159265"
        newPassword:
          type: string
          format: password
          example: "securepassword123"

paths:
  /auth/register:
    post:
      summary: "Регистрация нового пользователя"
      tags:
        - Аутентификация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: "Пользователь успешно зарегистрирован"
          headers:
            Set-Cookie:
              schema:
                type: string
                example: session_id=342324234324
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyOkResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "409":
          description: "Аккаунт с таким email/login уже зарегистрирован. Набор сообщений об ошибке фиксированный, см. схему"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 409
                    enum: [409]
                  text:
                    type: string
                    example: "Email is busy"
                    enum:
                      [
                        "Email is busy",
                        "Login is busy",
                        "Email and login are busy",
                      ]

  /auth/login:
    post:
      summary: Авторизация пользователя
      tags:
        - Аутентификация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Успешная авторизация
          headers:
            Set-Cookie:
              schema:
                type: string
                example: session_id=342324234324
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyOkResponse"
        "401":
          description: Неверные учетные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
  /auth/logout:
    post:
      summary: Выйти из системы
      security:
        - SessionCookieAuth: []
      tags:
        - Аутентификация
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          description: "Вы не залогинены"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
  /auth/changePassword:
    post:
      summary: Изменить пароль
      security:
        - SessionCookieAuth: []
      tags:
        - Аутентификация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordChangeRequest"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          description: "Отсутствуют необходимые поля или пароль слишком слабый"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "403":
          description: "Старый пароль неправильный"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"

  /users/{userId}:
    get:
      summary: Получить информацию о пользователе
      tags:
        - Пользователи
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: "Информация о пользователе"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /users/me:
    get:
      summary: Получить информацию о себе
      tags:
        - Пользователи
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          description: Информация о пользователе
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
    put:
      summary: Обновить информацию о себе
      tags:
        - Пользователи
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/userId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPatch"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"


  /boards:
    post:
      summary: Создать новую доску
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - description
              properties:
                name:
                  type: string
                  example: "Новая доска"
                description:
                  type: string
                  example: "Описание новой доски"
                background:
                  type: string
                  example: "#FF5733"
      responses:
        "201":
          description: Доска успешно создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Board"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"

  /boards/{boardId}:
    get:
      summary: Получить информацию о доске
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      responses:
        "200":
          description: Информация о доске
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Board"
                  - $ref: "#/components/schemas/BadResponse"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

    patch:
      summary: "Изменить имя, описание или фон доски"
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      parameters:
        - name: boardId
          in: path
          required: true
          schema:
            type: string
            example: "board_456"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Обновленное имя доски"
                description:
                  type: string
                  example: "Обновленное описание доски"
                backgroundImageUrl:
                  type: string
                  example: "/images/3432432423432234.png"
      responses:
        "200":
          description: "Доска успешно обновлена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Board"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: Удалить доску
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /boards/my:
    get:
      summary: "Получить все доски, о которых знает пользователь"
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          description: "Доски успешно получены"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Board"
        "401":
          $ref: "#/components/responses/NoAuthResponse"

  /userPermissions/{boardId}:
    get:
      summary: "Получить информацию о правах всех пользователей на этой доске"
      tags:
        - Разрешения пользователей
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      responses:
        "200":
          description: "Список прав пользователей"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserPermissions"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /userPermissions/{boardId}/{userId}:
    patch:
      summary: "Изменить права пользователя"
      tags:
        - Разрешения пользователей
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
        - $ref: "#/components/parameters/userId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "array"
              items:
                $ref: "#/components/schemas/UserPermissionsPatch"
      responses:
        "200":
          description: "Успешно изменены права"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Права пользователя успешно изменены"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: "Выгнать пользователя"
      tags:
        - Разрешения пользователей
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
        - $ref: "#/components/parameters/userId"

      responses:
        "200":
          description: "Успешно выгнали"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum: [200]
                    example: 200
                  text:
                    type: string
                    example: "Права пользователя успешно изменены"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /cards/{boardId}/allContent:
    get:
      summary: "Получить все карточки на доске, а также все столбцы (и в будущем - теги)"
      tags:
        - Карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      responses:
        "200":
          description: "Список карточек"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BoardContent"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /cards/{boardId}/cards:
    post:
      summary: Создать новую карточку на доске
      tags:
        - Карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
              properties:
                title:
                  type: string
                  example: "Новая задача"
                description:
                  type: string
                  example: "Описание новой задачи"
                status:
                  type: string
                  example: "To Do"
      responses:
        "201":
          description: "Карточка успешно создана"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Card"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /cards/{boardId}/cards/{cardId}:
    patch:
      summary: Обновить карточку
      tags:
        - Карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
        - $ref: "#/components/parameters/cardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: "Обновленная задача"
                description:
                  type: string
                  example: "Обновленное описание задачи"
                status:
                  type: string
                  example: "In Progress"
      responses:
        "200":
          description: "Карточка успешно обновлена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Card"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: Удалить карточку
      tags:
        - Карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
        - $ref: "#/components/parameters/cardId"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

security:
  - SessionCookieAuth: []
