openapi: 3.0.2
info:
  title: Pumpkin API
  version: 1.3.0
  description: RESTful API для облачного канбана Pumpkin

servers:
  - url: https://to.be.defined/api
    description: Основной сервер API

security:
  - SessionCookieAuth: []

components:
  securitySchemes:
    SessionCookieAuth:
      type: apiKey
      in: cookie
      name: session_id

  responses:
    EmptyOkResponse:
      description: "Успех"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EmptyOkResponse"
    BadRequestResponse:
      description: "В запросе нет нужных полей или они не прошли валидацию или ошибка в query-параметрах"
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 400
              text:
                type: string
                example: "bad request"
    NoAuthResponse:
      description: "Вы не авторизованы"
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 401
              text:
                type: string
                example: "not authentified"
    ForbiddenResponse:
      description: "Нет прав на действие"
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 403
              text:
                type: string
                example: "forbidden"
    NotFoundResponse:
      description: "Такой элемент не найден"
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 404
              text:
                type: string
                example: "not found"
    ConflictResponse:
      description: "Такой элемент уже существует"
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 409
              text:
                type: string
                example: "conflict"

  parameters:
    boardId:
      name: boardId
      in: path
      required: true
      schema:
        type: string
        example: "board_456"
    cardId:
      name: cardId
      in: path
      required: true
      schema:
        type: string
        example: "card_789"
    userId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        example: "user_343"
    columnId:
      name: columnId
      in: path
      required: true
      schema:
        type: string
        example: "column_228"

  schemas:
    EmptyOkResponse:
      type: object
      properties:
        status:
          type: integer
          enum: [200]
          example: 200
        text:
          type: string
          example: "ok"

    BadResponse:
      type: object
      properties:
        status:
          type: integer
          example: 403
        text:
          type: string
          example: "not authorized"

    User:
      type: object
      properties:
        id:
          type: number
          example: 123
        name:
          type: string
          example: "Tarasovxx"
        email:
          type: string
          format: email
          example: "tarasovxx@example.com"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        avatarImageUrl:
          type: string
          example: "/uploads/550e8400-e29b-41d4-a716-446655440000.png"

    UserPut:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          example: "Tarasovxx"
        email:
          type: string
          format: email
          example: "tarasovxx@example.com"

    Board:
      type: object
      properties:
        id:
          type: integer
          example: 228
        name:
          type: string
          example: "Любимый проект"
        description:
          type: string
          example: "На этой доске размещены задачи любимого проекта! <3"
        backgroundImageUrl:
          type: string
          example: "/static/backgroundImage.png"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        updatedAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        visitedAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"

    BoardPut:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          example: "Любимый проект"
        description:
          type: string
          example: "На этой доске размещены задачи любимого проекта! <3"

    BoardContent:
      type: object
      properties:
        boardInfo:
          $ref: "#/components/schemas/Board"
        allColumns:
          type: array
          items:
            $ref: "#/components/schemas/Column"
        allCards:
          type: array
          items:
            $ref: "#/components/schemas/Card"
        myRole:
          type: string
          enum: ["viewer", "editor", "editor_chief", "admin"]
          example: "viewer"

    Card:
      type: object
      properties:
        id:
          type: integer
          example: 789
        title:
          type: string
          example: "Задача 1"
        description:
          type: string
          example: "Описание задачи 1"
        columnId:
          type: integer
          example: 228
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        updatedAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"

    CardPostRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          example: "Новая задача"
        columnId:
          type: integer
          example: 3

    Column:
      type: object
      properties:
        id:
          type: integer
          example: 228
        title:
          type: string
          example: "Backlog"

    ColumnRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          example: "Backlog"

    UserPermissions:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/User"
        addedAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        role:
          type: string
          enum: ["viewer", "editor", "editor_chief", "admin"]
          example: "viewer"
        updatedAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        addedBy:
          $ref: "#/components/schemas/User"
        updatedBy:
          $ref: "#/components/schemas/User"

    UserPermissionsPut:
      type: object
      required:
        - newRole
      properties:
        newRole:
          type: string
          enum: ["viewer", "editor", "editor_chief", "admin"]
          example: "viewer"

    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          example: "Tarasov_Artem"
        email:
          type: string
          format: email
          example: "tarasovxx@example.com"
        password:
          type: string
          format: password
          example: "reddiridabl666"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "tarasovxx@example.com"
        password:
          type: string
          format: password
          example: "reddiridabl666"

    PasswordChangeRequest:
      type: object
      required:
        - oldPassword
        - newPassword
      properties:
        oldPassword:
          type: string
          format: password
          example: "314159265"
        newPassword:
          type: string
          format: password
          example: "reddiridabl666"

    DeadlineRequest:
      type: object
      required:
        - deadline
        - isDone
      properties:
        deadline:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        isDone:
          type: boolean
          example: false

    CommentRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          example: "LGTM ok norm gg XD"

    Comment:
      type: object
      properties:
        id:
          type: integer
          example: 395
        text:
          type: string
          example: "LGTM ok norm gg XD"
        isEdited:
          type: boolean
          example: false
        createdBy:
          $ref: "#/components/schemas/User"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"

    CheckListField:
      type: object
      properties:
        id:
          type: integer
          example: 1234
        title:
          type: string
          example: "Сделать рефакторинг"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-01T12:34:56Z"
        isDone:
          type: boolean
          example: false

    CheckListFieldPutRequest:
      type: object
      required:
        - title
        - isDone
        - previousFieldId
        - nextFieldId
      properties:
        title:
          type: string
          example: "Сделать рефакторинг"
        isDone:
          type: boolean
          example: false
        previousFieldId:
          type: integer
          example: 234
        nextFieldId:
          type: integer
          example: 789

    CheckListFieldPostRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          example: "Сделать рефакторинг"

    Attachment:
      type: object
      properties:
        id:
          type: integer
          example: 777
        originalName:
          type: string
          example: "Ведомость.xlsx"
        fileName:
          type: string
          example: "/uploads/41c41031-15eb-423a-872c-cdc0696fb3ba.xlsx"

    CardMoveRequest:
      type: object
      required:
        - newColumnId
        - previousCardId
        - nextCardId
      properties:
        newColumnId:
          type: integer
          example: 333
        previousCardId:
          type: integer
          example: 111
        nextCardId:
          type: integer
          example: 222

paths:
  /auth/register:
    post:
      summary: "Регистрация нового пользователя"
      tags:
        - Аутентификация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "200":
          description: "Пользователь успешно зарегистрирован"
          headers:
            Set-Cookie:
              schema:
                type: string
                example: session_id=342324234324
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "409":
          description: "Аккаунт с таким email/login уже зарегистрирован. Набор сообщений об ошибке фиксированный, см. схему"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 409
                    enum: [409]
                  text:
                    type: string
                    example: "Email is busy"
                    enum:
                      [
                        "Email is busy",
                        "Login is busy",
                        "Email and login are busy",
                      ]

  /auth/login:
    post:
      summary: Авторизация пользователя
      tags:
        - Аутентификация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Успешная авторизация
          headers:
            Set-Cookie:
              schema:
                type: string
                example: session_id=342324234324
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyOkResponse"
        "401":
          description: Неверные учетные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
  /auth/logout:
    post:
      summary: Выйти из системы
      security:
        - SessionCookieAuth: []
      tags:
        - Аутентификация
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          description: "Вы не залогинены"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"
  /auth/changePassword:
    post:
      summary: Изменить пароль
      security:
        - SessionCookieAuth: []
      tags:
        - Аутентификация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordChangeRequest"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "403":
          description: "Старый пароль неправильный"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadResponse"

  /users/me:
    get:
      summary: Получить информацию о себе
      tags:
        - Пользователи
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          description: Информация о пользователе
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
    put:
      summary: Обновить информацию о себе
      tags:
        - Пользователи
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/userId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPut"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"

  /users/me/avatar:
    put:
      summary: "Установить пользователю аватарку"
      tags:
        - Пользователи
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: "Файл изображения аватарки"
      responses:
        "200":
          description: "Успешно обновлена аватарка"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"

  /boards:
    post:
      summary: Создать новую доску
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: "Новая доска"
      responses:
        "201":
          description: "Доска успешно создана"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Board"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"

  /boards/{boardId}:
    put:
      summary: "Изменить имя или описание доски"
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BoardPut"
      responses:
        "200":
          description: "Доска успешно обновлена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Board"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: Удалить доску
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /boards/{boardId}/backgroundImage:
    put:
      summary: "Установить на доску изображение заднего фона"
      tags:
        - Доски
      parameters:
        - $ref: "#/components/parameters/boardId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                background:
                  type: string
                  format: binary
                  description: "Файл изображения заднего фона"
      responses:
        "200":
          description: "Успешно обновлён задний фон"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Board"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"

  /boards/my:
    get:
      summary: "Получить все доски, о которых знает пользователь"
      tags:
        - Доски
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          description: "Доски успешно получены"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Board"
        "401":
          $ref: "#/components/responses/NoAuthResponse"

  /userPermissions/{boardId}:
    get:
      summary: "Получить информацию о правах всех пользователей на этой доске"
      tags:
        - Разрешения пользователей
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      responses:
        "200":
          description: "Список прав пользователей"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserPermissions"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      summary: "Добавить пользователя на доску"
      tags:
        - Разрешения пользователей
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nickname
              properties:
                nickname:
                  type: string
                  example: "Tarasovxx"
      responses:
        "200":
          description: "Список прав пользователей"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserPermissions"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: "Конфликт"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum: [409]
                    example: 409
                  text:
                    type: string
                    enum: ["user already at board"]
                    example: "user already at board"

  /userPermissions/{boardId}/{userId}:
    put:
      summary: "Изменить права пользователя"
      tags:
        - Разрешения пользователей
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
        - $ref: "#/components/parameters/userId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "array"
              items:
                $ref: "#/components/schemas/UserPermissionsPut"
      responses:
        "200":
          description: "Успех"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermissions"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: "Выгнать пользователя"
      tags:
        - Разрешения пользователей
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
        - $ref: "#/components/parameters/userId"

      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /cards/{boardId}/allContent:
    get:
      summary: "Получить все карточки на доске, а также все столбцы (и в будущем - теги)"
      tags:
        - Карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      responses:
        "200":
          description: "Список карточек"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BoardContent"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /cards/{boardId}:
    post:
      summary: "Создать новую карточку на доске"
      tags:
        - Карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardPostRequest"
      responses:
        "200":
          description: "Карточка успешно создана"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Card"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /cards/{cardId}:
    patch:
      summary: Обновить карточку
      tags:
        - Карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: "Обновленная задача"
                description:
                  type: string
                  example: "Обновленное описание задачи"
                status:
                  type: string
                  example: "In Progress"
      responses:
        "200":
          description: "Карточка успешно обновлена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Card"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: "Удалить карточку"
      tags:
        - Карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /columns/{boardId}:
    post:
      summary: "Добавить новую колонку"
      tags:
        - Колонки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/boardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ColumnRequest"
      responses:
        "201":
          description: "Колонка успешно создана"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Column"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /columns/{columnId}:
    put:
      summary: "Изменить колонку"
      tags:
        - Колонки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/columnId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ColumnRequest"
      responses:
        "201":
          description: "Колонка успешно создана"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Column"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: "Удалить колонку"
      tags:
        - Колонки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/columnId"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /assignedUser/{cardId}/{userId}:
    put:
      summary: "Назначить пользователя на карточку"
      tags:
        - Назначение пользователя на карточку
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: "Пользователь назначен на карточку"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
    delete:
      summary: "Убрать назначение пользователя на карточку"
      tags:
        - Назначение пользователя на карточку
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /deadline/{cardId}:
    put:
      summary: "Установить дедлайн на карточку"
      tags:
        - Дедлайн карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeadlineRequest"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: "Убрать дедлайн с карточки"
      tags:
        - Дедлайн карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /comments/{cardId}:
    post:
      summary: "Создать комментарий"
      tags:
        - Комментарии
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentRequest"
      responses:
        "201":
          description: "Успешно добавлен комментарий"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /comments/{cardId}/{commentId}:
    put:
      summary: "Изменить комментарий"
      tags:
        - Комментарии
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            example: "comment_228"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentRequest"
      responses:
        "200":
          description: "Успешно изменён комментарий"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: "Удалить комментарий"
      tags:
        - Комментарии
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            example: "comment_228"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /checkList/{cardId}:
    post:
      summary: "Добавить поле чеклиста в конец"
      tags:
        - Чеклист
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckListFieldPostRequest"
      responses:
        "201":
          description: "Поле чеклиста успешно добавлено в конец"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckListField"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /checkList/{cardId}/{fieldId}:
    put:
      summary: "Изменить положение, текст или статус строки чеклиста"
      tags:
        - Чеклист
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
        - name: fieldId
          in: path
          required: true
          schema:
            type: string
            example: "field_228"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckListFieldPutRequest"
      responses:
        "200":
          description: "Успешно изменена строка чеклиста. Возвращает все строки обновлённого чеклиста"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckListField"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      summary: "Удалить поле чеклиста"
      tags:
        - Чеклист
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
        - name: fieldId
          in: path
          required: true
          schema:
            type: string
            example: "field_228"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /cardCover/{cardId}:
    put:
      summary: "Установить обложку карточки"
      tags:
        - Обложка карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: "Прикладываемая обложка"
      responses:
        "200":
          description: "Успешно установлена обложка"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Card"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

    delete:
      summary: "Удалить обложку карточки"
      tags:
        - Обложка карточки
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /attachments/{cardId}:
    put:
      summary: "Добавить вложение к карточке"
      tags:
        - Вложения
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: "Прикладываемый файл"
      responses:
        "200":
          description: "Успешно загружен файл"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /attachments/{cardId}/{attachmentId}:
    delete:
      summary: "Удалить вложение с карточки"
      tags:
        - Вложения
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
        - name: attachmentId
          in: path
          required: true
          schema:
            type: string
            example: "attachment_666"
      responses:
        "200":
          $ref: "#/components/responses/EmptyOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  cardOrder/{cardId}:
    put:
      summary: >
        > Переместить карточку.
        > previousCardId задать -1, если новое положение карточки - первое в колонке
        > nextCardId задать -1, если новое положение карточки - последнее в колонке
      tags:
        - Drag-n-Drop карточек
      security:
        - SessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/cardId"
        - name: fieldId
          in: path
          required: true
          schema:
            type: string
            example: "field_228"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckListFieldPutRequest"
      responses:
        "200":
          $ref:
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/NoAuthResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: "Не получается переместить карточку. Может быть, кто-то другой перемещал карточки только что"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 409
                  text:
                    type: string
                    example: "conflict"
